<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  </META>
  <link rel="stylesheet" href="form-submit.html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    body {

      background-color: #FFFFFF;

    }

    h1 {

      color: blue;

      text-align: center;

      font-family: Verdana;

      font-size: 16px;

    }

    h3 {
      background-color: #FCE4EC;
      border: 4px solid black;
      margin: 0 auto;
      width: 350px;
      font-family: Tahoma;

      font-size: 13px;

    }

    h4 {
      color: black;

      text-align: left;

      font-family: Verdana;

      font-size: 15px;

    }

    h5 {
      text-decoration: underline;
      text-align: left;
    }

    
    .Add {
      text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 10px;
      color: black;
      background-color: #deffe9;
      border-radius: 6px;
      border: 2px solid #b5f5ca;
    }




  </style>

</head>

<body>
  <marquee> Ayudanos a encontrarles su hogar </marquee>

  <hr />
  <IMG SRC="Linda-garra-de-perro-con-coraz-n-de-melocot-n-Auto-adhesivo-con-dibujo-de-Animal.jpg_q50.jpg" width="35px"
    ALIGN="TOP">
  <h1>PET TO THE RESCUE </h1><br>	
  <h2>Administrador</h2>
  
  <div style="width:40%; display: inline-block;">
  </div>



<div class="container">
  <div class="row">
    <div class="col-sm-3">
     <h4>Filtrado por</h4>
			 <input style="margin-top: 10px" type="button" name="" value="Buscar">
             <br><br>
    <div class="">
      <h5>Edad</h5>
      <div>
        <input type="checkbox" id="1,3" name="source" value="edmen">
        <label for="1,3">1 - 3 años </label>
      </div>
      <div>
        <input type="checkbox" id="4,7" name="source" value="edmed">
        <label for="4,7">4 - 7 años </label>
      </div>
      <div>
        <input type="checkbox" id="8+" name="source" value="edmay">
        <label for="8+"> 8+ años </label>
      </div>
      <p>
      <h5>
        Tamaño
      </h5>
      <div>
        <input type="checkbox" id="peq" name="source" value="peq">
        <label for="peq">Pequeño </label>
      </div>
      <div>
        <input type="checkbox" id="med" name="source" value="med">
        <label for="med"> Mediano </label>
      </div>
      <div>
        <input type="checkbox" id="gr" name="source" value="gr">
        <label for="gr"> Grande </label>
      </div>
      <h5>
        Sexo
      </h5>
      <div>
        <input type="checkbox" id="fem" name="source" value="fem">
        <label for="fem">Femenino</label>
      </div>
      <div>
        <input type="checkbox" id="mas" name="source" value="mas">
        <label for="mas">Masculino</label>
      </div>
    </div>

    </div>
    <div class="col-sm-9">
    <br><br>
      <div class="container">
        <div class="row">

          <div class="col-sm-4 text-center">
             <img src="https://image.shutterstock.com/image-photo/cute-smile-chihuahua-brown-color-600w-1798814425.jpg" width="100" height="100" border="4px solid black " >
             <br>
             <input style="margin-top: 10px" type="button" name="" value="ver">
             <br><br>
          </div>
              <div class="col-sm-4 text-center">
             <img src="https://i.pinimg.com/564x/20/75/6c/20756c2283956998a947849e7b9a9dc9.jpg" width="100" height="100" border="4px solid black">
             <br>
               <input style="margin-top: 10px" type="button" name="" value="ver">
             <br><br>
          </div>
               <div class="col-sm-4 text-center">
             <img src="https://i.pinimg.com/564x/80/a3/e9/80a3e9d86a0ba694fa92bf25df822352.jpg" width="100" height="100" border="4px solid black">
             <br>
               <input style="margin-top: 10px" type="button" name="" value="ver">
             <br><br>
          </div>

               <div class="col-sm-4 text-center">
             <img src="https://i.pinimg.com/564x/80/a3/e9/80a3e9d86a0ba694fa92bf25df822352.jpg" width="100" height="100" border="4px solid black">
             <br>
               <input style="margin-top: 10px" type="button" name="" value="ver">
             <br><br>
          </div>
    <div class="col-sm-4 text-center">
             <img src="bulldog.jpg" width="100" height="100" border="4px solid black">
             <br>
               <input style="margin-top: 10px" type="button" name="" value="ver">
             <br><br>
          </div>

             <div class="col-sm-4 text-center">
             <img src="bulldog.jpg" width="100" height="100" border="4px solid black">
             <br>
               <input style="margin-top: 10px" type="button" name="" value="ver">
             <br><br>
          </div>
		  
			 <div class="col-sm-4 text-center">
             <img src="bulldog.jpg" width="100" height="100" border="4px solid black">
             <br>
               <input style="margin-top: 10px" type="button" name="" value="ver">
             <br><br>
          </div>
		     <div class="col-sm-4 text-center">
             <img src="bulldog.jpg" width="100" height="100" border="4px solid black">
             <br>
               <input style="margin-top: 10px" type="button" name="" value="ver">
             <br><br>
          </div>
			 <div class="col-sm-4 text-center">
             <img src="bulldog.jpg" width="100" height="100" border="4px solid black">
             <br>
               <input style="margin-top: 10px" type="button" name="" value="ver">
             <br><br>
          </div>
      </div>
     
 
    </div>
  </div>
</div>



 

  <div style="width:40%; display: inline-block;">

 
  
  </div>



</html>