
<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8"></META>
<link rel="stylesheet" href="form-submit.html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<style>
body{

		background-color: #FFFFFF;       
		
	}

    h1{

		color: blue; 

      text-align:center;

        font-family:Verdana;

        font-size:16px;

	}

    h3{
    background-color: #FCE4EC;	 

    margin: 0 auto; 
    width:350px;
    font-family:Tahoma;
   	
   	font-size:13px;
   
}

input[type=email] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}
</style>

<title>Page Title</title>

</head>

<body>

	<marquee> Ayudanos a encontrarles su hogar </marquee>

    <hr/>
<IMG SRC="Linda-garra-de-perro-con-coraz-n-de-melocot-n-Auto-adhesivo-con-dibujo-de-Animal.jpg_q50.jpg" width="35px" ALIGN="TOP">
<h1>PET TO THE RESCUE </h1>




<br>
<form method="post" action="">
<h3>
<p>
<label for="email">Email:</label>
<input type="email" id="email" name="email" title="email" placeholder="Enter Email" require />
</p>
</form>
<p>

</h3>

<p class="form-actions">
<form action="" method="post" target="_blank">
<button type="change">Cambiar contraseña</button>
 
</p>

</form>