<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Completa un formulario para saber si cumplís con las condiciones mínimas de adopción.">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet"href="css/animate.min.css"/>
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>
<style>

	

    body{

		background-color: #FFFFFF;       
		
	}

    h1{

		color: blue; 

      text-align:center;

        font-family:Verdana;

        font-size:16px;

	}
h2{
color: purple;
}
    h3{


    margin: 0 auto; 
    width:300px;
   	
   	font-size:16px;
   
}
.contenedorFormularioAdoptar__Basicas{
    background-color: #FCE4EC;

}

</style>

<title>Page Title</title>

</head>

<body>

	<marquee> Ayudanos a encontrarles su hogar </marquee>

    <hr/>
<IMG SRC="Linda-garra-de-perro-con-coraz-n-de-melocot-n-Auto-adhesivo-con-dibujo-de-Animal.jpg_q50.jpg" width="35px" ALIGN="TOP">
<h1>PET TO THE RESCUE </h1>
<body class="bodyAdoptar">
    <!--navegador entre las diferentes paginas /menu-->
    <header>
     <nav>  
        </nav>
    </header>
    <main>

            <h2 class="text-center contenedorPostulate__Titulo animate__animated  animate__zoomIn">Postulate para Adoptar</h2>
        </div>
        <!--Intro a Adoptar-->
            <div class="contenedorIntro container">
                <p>
                    Hola! ¿Cómo estas? Antes que nada, gracias por elegir adoptar!
                    <br>
                    <em>Información importante:</em> 
                    <br>
                    -Este Formulario no confirma la adopción.
                    <br>
                    -El equipo de adopciones revisara los datos y se conectará lo antes posible para hablar de cómo se continúa con el proceso.
                </p>
                <p class="animate__animated wow animate__pulse animate__repeat-3">
                    Y de toda la familia Pets to the Rescue te damos nuevamente las Gracias! 
                </p>
                </div>
        <!--Formulario-->
   <form id="form1" onsubmit="Javascript: return validateForm();">
   
            <!--Formulario de carga para adoptar-->
  
               
                <!--Agrupo los campos que estan relacionados-->
                <fieldset class="contenedorFormularioAdoptar__Basicas">
                    <legend class="text-center contenedorFormularioAdoptar__Basicas__Titulo">Preguntas basicas de adopción</legend>
                  <h3>  
                    <div class="row contenedorFormularioAdoptar__Fila">
                        <div class="col-12 col-md-4 contenedorFormularioAdoptar__Fila__Valor">
                            <div>
                                <label for="seleccion1">¿Que clase de vivienda tenés?</label>
                            </div>
                            <div>
                                <select name="Seleccion" id="seleccion1" class="botones">
                                    <option value="1"></option>
                                    <option value="Depa">Departamento</option>
                                    <option value="Casa ">Casa </option>
                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 contenedorFormularioAdoptar__Fila__Valor">
                            <div>
                                <label for="seleccion2">¿La vivienda es de tu propiedad?
                                </label>
                            </div>
                            <div>
                                <select name="Seleccion" id="seleccion2" class="botones">
                                    <option value="1"></option>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 contenedorFormularioAdoptar__Fila__Valor">
                            <div>
                                <label for="seleccion3">¿Crees tener suficiente espacio?</label>
                                <div class="col-12">
                                    <select name="Seleccion" id="seleccion3" class="botones">
                                        <option value="1"></option>
                                        <option value="si">Si</option>
                                        
                                        <option value="Nada">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 contenedorFormularioAdoptar__Fila__Valor">
                            <div>
                                <label for="seleccion1">¿Cuentas con seguridad en tu vivienda?</label>
                            </div>
                            <div>
                                <select name="Seleccion" id="seleccion1" class="botones">
                                    
                                    <option value="1"></option>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 contenedorFormularioAdoptar__Fila__Valor">
                            <div>
                                <label for="seleccion1">¿Hay niños o personas de edad avanzada?</label>
                            </div>
                            <div>
                                <select name="Seleccion" id="seleccion1" class="botones">
                                    <option value="1"></option>
                                    <option value="Si">Si</option>
                                    
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-12 col-md-4 contenedorFormularioAdoptar__Fila__Valor">
                            <div>
                                <label for="seleccion4">¿Cuentas con mascotas en tu hogar?</label>
                            </div>
                            <div>
                                <select name="Seleccion4" class="botones" id="seleccion4">
                                   <option value="1"></option> 
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 contenedorFormularioAdoptar__Fila__Valor">
                            <div>
                                <label for="seleccion8">¿Alguno es alérgico al pelo de mascotas?</label>
                            </div>
                            <div>
                                <select name="Seleccion" id="seleccion8" class="botones">
                                    <option value="1"></option>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                    </h3>    
                    </div>
                </fieldset>
                <p>
                <div class="row">
                    <div class="col-12 btn">
                        <input type="submit" value="Postularme ♥" class="botones botones__Postularse btn-outline-success form-control">
                    </div>

                </div>
            </form>
            </div>
        </div>
    </main>
    

    <script>
var form = document.querySelector("#form1");	
var validateForm = function(){
    var combos = document.querySelectorAll("select");
    var val = '';
    for(var i=0;i<combos.length;i++){
	    val += combos[i].value;
    }
    var result = (val.length > 0);
    if(!result){
    	alert("Debe seleccionar uno de los combobox");
    }
    return result;
}
    </script>
</body>
</html>
